@{
    ViewBag.Title = "Решение";
}
<h2>@ViewBag.Title.</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
</head>
<body>
    <p>
        @Html.ActionLink("Добавить пользователя", "Create")
    </p>
    <div>
        <h3>Список:</h3>

        <table class="table">
            <tr>
                <th>
                    <p>Фамилия И.О.</p>
                </th>
                <th>
                    <p>e-mail</p>
                </th>
                <th>
                    <p>Телефон</p>
                </th>
                <th>
                    <p>Фото</p>
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.Table)
            {
                <tr>
                    <td>
                        <p>@item.FIO</p>
                    </td>
                    <td>
                        <p>@item.Email</p>
                    </td>
                    <td>
                        <p>@item.Tel</p>
                    </td>
                    <td>
                        <p><img src="@item.Foto" width="150" /></p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>