@model Table_1

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Вы уверены, что хотите удалить запись?</h3>
        <div>
            <h4>Пользователь</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FIO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FIO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Foto)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-default" /> |
                    @Html.ActionLink("Вернуться к списку", "About")
                </div>
            }
        </div>
</body>
</html>
